*{
    box-sizing: border-box; /* calcula o tamanho do elemento */
    padding: 0%;
    margin: 0%;
}
body{
    background: #F3F5FC;
    
}
.txtAlert{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
.btn{
    
    background-color:#0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
}
.btnEncriptar{
    background-color:#0A3871;
    color: white;

}
.btnDecifrar{
    background: #D8DFE8;
    color: #0A3871;
}
.btnCopiar{
    position: relative;
    color: white;
    margin-top: 60%;
}
.txtArea{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D8DFE8;
    box-sizing: border-box;
    border-radius: 16px;
    width: 500px;
    height: 500px;
    padding: 20px;
}
.txfIngreso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.txfMuestra
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    
    
    top: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.imgMuñeco{
    position: relative;
}
#txtRespuesta
{
    flex-direction: column;
}
.logo{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: relative;
    width: 120px;
    height: 48px;
    left: 20px;
    top: 40px;
}
.contenedor-principal
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}